<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>작삼예제</title>
		<link rel="stylesheet" href="/css/style.css" />
		<!-- 하... /css/style.css 를 /public/css/style.css 으로 여태 하고 있어서 안먹히는 거였음. 왜지?
		-> public 폴더는 정적 파일의 루트로 설정되어 있어서 public을 제거해야 한다고.. -->
	</head>
	<body>
		<header>
			<h1>작삼샘플</h1>
			<nav>
				<a href="/">작성하기</a>
				<a href="/list">목록보기</a>
			</nav>
		</header>
